// Fonts
$font-family-primary: 'DM Sans', sans-seri;
$font-family-second: 'Titan One', cursive;

$color-primary: #d41443;
$color-bg: #ffb8ca;
$color-bg-circle: #ffa5ba;
$color-hover-social: #fea5bb;
$color-bg-green: #c2e297;
$color-bg-brown: #f0d1a5;
$color-bg-footer: #fff5f6;
$color-white: #ffffff;
$color-black: #000000;
$color-subtext: #907e82;
$color-bg-btn-hover: #ecebeb;
$color-bg-mobile-menu: #e17992;
