<section class="advantages-section" id="advantages">
    <div class="advantages-section__box">
        <p class=" name advantages-section__name_a">721</p>
        <p class="advantages-section__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    
    <div class="advantages-section__box">
        <p class=" name advantages-section__name_b">16kg</p>
        <p class="advantages-section__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    
    <div class="advantages-section__box">
        <p class=" name advantages-section__name_c">84</p>
        <p class="advantages-section__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    </section>