<!-- секция контакты -->
<section>
  <div class="container">
    <!-- невидимый хедер -->
    <h1 class="visually-hidden">Contacts</h1>
    <!-- список карточек контактов -->
    <ul class="contacts">
      <li class="contacts__card">
        <span>cafe</span>
        <!-- Город -->
        <div class="contacts__city">
          <p>Chicago</p>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <!-- Время работы -->
        <div class="contacts__working-time">
          <p class="contacts__working-days">Monday - Friday</p>
          <span class="contacts__working-hours">08:00 AM - 10:00 PM</span>
          <p class="contacts__working-days">Saturday - Sunday</p>
          <span class="contacts__working-hours">08:00 AM - 16:00 PM</span>
        </div>
        <!-- Адресс -->
        <address>
          <ul>
            <li><a href="tel:+61(0) 383 766 284"></a>+61(0) 383 766 284</li>
            <li><a href="mailto:noreply@envato.com"></a>noreply@envato.com</li>
          </ul>
        </address>
      </li>
      <li class="contacts__card">
        <span>foodtruck</span>
        <!-- Город -->
        <div class="contacts__city">
          <p>Los Angeles</p>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <!-- Время работы -->
        <div class="contacts__working-time">
          <p class="contacts__working-days">Monday - Friday</p>
          <span class="contacts__working-hours">08:00 AM - 10:00 PM</span>
          <p class="contacts__working-days">Saturday - Sunday</p>
          <span class="contacts__working-hours">08:00 AM - 16:00 PM</span>
        </div>
        <!-- Адресс -->
        <address>
          <ul>
            <li><a href="tel:+61(0) 383 766 284"></a>+61(0) 383 766 284</li>
            <li><a href="mailto:noreply@envato.com"></a>noreply@envato.com</li>
          </ul>
        </address>
      </li>
      <li class="contacts__card">
        <span>cafe</span>
        <!-- Город -->
        <div class="contacts__city">
          <p>New York</p>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <!-- Время работы -->
        <div class="contacts__working-time">
          <p class="contacts__working-days">Monday - Friday</p>
          <span class="contacts__working-hours">08:00 AM - 10:00 PM</span>
          <p class="contacts__working-days">Saturday - Sunday</p>
          <span class="contacts__working-hours">08:00 AM - 16:00 PM</span>
        </div>
        <!-- Адресс -->
        <address>
          <ul>
            <li><a href="tel:+61(0) 383 766 284"></a>+61(0) 383 766 284</li>
            <li><a href="mailto:noreply@envato.com"></a>noreply@envato.com</li>
          </ul>
        </address>
      </li>
    </ul>
    <ul>
      <li><button type="button">Our Locations</button></li>
      <li><button type="button">Franchise</button></li>
    </ul>
  </div>
</section>
