<!-- секция контакты -->
<section>
  <div class="container">
    <!-- невидимый хедер -->
    <h1 class="visually-hidden">Contacts</h1>
    <!-- список карточек контактов -->
    <ul class="contacts">
      <li class="contacts__card">
        <span class="contacts__category">cafe</span>
        <!-- Город -->
        <div class="contacts__city">
          <p class="contacts_city-text">Chicago</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <!-- Время работы -->
        <div class="contacts__working-time">
          <p class="contacts__working-days">Monday - Friday</p>
          <span class="contacts__working-hours">08:00 AM - 10:00 PM</span>
          <p class="contacts__working-days">Saturday - Sunday</p>
          <span class="contacts__working-hours">08:00 AM - 16:00 PM</span>
        </div>
        <!-- Адресс -->
        <address>
            <ul class="adress__list">
            <li class="adress__tel"><a class="adress-item adress__link" href="tel:+61(0)383766284"></a>+61(0) 383 766 284</li>
            <li class="adress__email"><a class="adress-item adress__link" href="mailto:noreply@envato.com"></a>noreply@envato.com</li>
          </ul>
        </address>
      </li>
      <li class="contacts__card">
        <span class="contacts__category">foodtruck</span>
        <!-- Город -->
        <div class="contacts__city">
          <p class="contacts_city-text">Los Angeles</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <!-- Время работы -->
        <div class="contacts__working-time">
          <p class="contacts__working-days">Monday - Friday</p>
          <span class="contacts__working-hours">08:00 AM - 10:00 PM</span>
          <p class="contacts__working-days">Saturday - Sunday</p>
          <span class="contacts__working-hours">08:00 AM - 16:00 PM</span>
        </div>
        <!-- Адресс -->
        <address>
        <ul class="adress__list">
            <li class="adress__tel"><a class="adress-item adress__link" href="tel:+61(0)383766284"></a>+61(0) 383 766 284</li>
            <li class="adress__email"><a class="adress-item adress__link" href="mailto:noreply@envato.com"></a>noreply@envato.com</li>
          </ul>
        </address>
      </li>
      <li class="contacts__card">
        <span class="contacts__category">cafe</span>
        <!-- Город -->
        <div class="contacts__city">
          <p class="contacts_city-text">New York</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <!-- Время работы -->
        <div class="contacts__working-time">
          <p class="contacts__working-days">Monday - Friday</p>
          <span class="contacts__working-hours">08:00 AM - 10:00 PM</span>
          <p class="contacts__working-days">Saturday - Sunday</p>
          <span class="contacts__working-hours">08:00 AM - 16:00 PM</span>
        </div>
        <!-- Адресс -->
        <address class="adress">
          <ul class="adress__list">
            <li class="adress__tel"><a class="adress-item adress__link" href="tel:+61(0)383766284"></a>+61(0) 383 766 284</li>
            <li class="adress__email"><a class="adress-item adress__link" href="mailto:noreply@envato.com"></a>noreply@envato.com</li>
          </ul>
        </address>
      </li>
    </ul>
    <ul class="list-btn">
      <li class="list__item"><button type="button">Our Locations</button></li>
      <li class="list__item"><button type="button">Franchise</button></li>
    </ul>
  </div>
</section>
