<section class="gallery">
    <div>
        <img src="./images/gallery-img.jpg" alt="collage_photo">
    </div>
    <ul class="slider">
        <li class="slider__item">
            <img src="./images/customer-img-1.png" alt="Emily_Los_Angeles">
            <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            <span>...</span>
            <h3>Emily, Los Angeles</h3>
        </li>
        <li class="slider__item">
            <img src="./images/customer-img-2.png" alt="Emily_Los_Angeles">
            <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            <span>...</span>
            <h3>Emily, Los Angeles</h3>
        </li>
        <li class="slider__item">
            <img src="./images/customer-img-3.png" alt="Emily_Los_Angeles">
            <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            <span>...</span>
            <h3>Emily, Los Angeles</h3>
        </li>
    </ul>

    <!-- Подключаем-јQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!--Подключаем-слайдер-Slick -->
    <script src="../slick.js"></script>
</section>