<section class="section section-hero">
  <header class="header">
    <div class="container header-container">
      <img
        class="logo__img"
        srcset="./images/logo.png 1x, ./images/logo@2x.png 2x"
        src="./images/logo.png"
        alt="Логотип"
      />

      <div class="menu-button">
        <svg width="20" height="12">
          <use class="menu-button__open" href="./images/icons.svg#menu"></use>
          <use class="menu-button__close" href="./images/icons.svg#close"></use>
        </svg>
      </div>

      <button class="button button--shevron button--position-1" type="submit">
        Buy now
        <svg class="shevron-right" width="8" height="8">
          <use href="./images/icons.svg#chevron-right"></use>
        </svg>
      </button>

      <div class="header__menu">
        <button class="button button--shevron button--menu button--position-2" type="submit">
          Buy now
          <svg class="shevron-right" width="8" height="8">
            <use href="./images/icons.svg#chevron-right"></use>
          </svg>
        </button>

        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link nav__link--active">Home</a></li>
            <li class="nav__item"><a href="#" class="nav__link">About us</a></li>
            <li class="nav__item"><a href="#" class="nav__link">How it’s made?</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Our products</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="hero">
    <div class="container hiro-container"></div>
  </div>
  <!--<div class="container container__header">
    <header class="header">
      <div class="logo-wrap">
        <a class="logo" href="#">
          <img
            class="logo__img"
            srcset="./images/logo.png 1x, ./images/logo@2x.png 2x"
            src="./images/logo.png"
            alt="Логотип"
          />
        </a>

        <div class="menu-button">
          <svg width="20" height="12">
            <use class="menu-button__open" href="./images/icons.svg#menu"></use>
            <use class="menu-button__close" href="./images/icons.svg#close"></use>
          </svg>
        </div>

        <div class="header__menu-btn">
          <button class="button button--shevron button--menu" type="submit">
            Buy now
            <svg class="shevron-right" width="8" height="8">
              <use href="./images/icons.svg#chevron-right"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="header__menu">
        <button class="button button--shevron button--menu button--menu-mobile" type="submit">
          Buy now
          <svg class="shevron-right" width="8" height="8">
            <use href="./images/icons.svg#chevron-right"></use>
          </svg>
        </button>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link nav__link--active">Home</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">About us</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">How it’s made?</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Our products</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header> -->

  <!-- <div class="hero">
      <div class="hero__content">
        <img
          class="hero__img-first"
          srcset="./images/hero-img-1.png 1x, ./images/hero-img-1@2x.png 2x"
          src="./images/hero-img-1.png"
          alt="bio eco"
        />
        <img
          class="hero__img-second"
          srcset="./images/hero-img-2.png 1x, ./images/hero-img-2@2x.png 2x"
          src="./images/hero-img-2.png"
          alt="sooooo tasty"
        />

        <div class="hero__img-wrap">
          <span class="hero__img-span"></span>
          <img
            class="hero__img-main"
            srcset="./images/hero-img.png 1x, ./images/hero-img@2x.png 2x"
            src="./images/hero-img.png"
            alt="Большое мороженко"
          />
        </div>

        <div class="wrapper">
          <div class="hero__title-wrap">
            <h1 class="hero__title">
              ice cream made with <span class="hero__title-span">passion</span>
            </h1>
            <ul class="hero__list">
              <li class="hero__item">
                <button class="button button--red hero__item--margin">Products</button>
              </li>
              <li class="hero__item">
                <button class="button button--white">How it’s made?</button>
              </li>
            </ul>
          </div>

          <div class="hero__franchise">
            <ul class="hero__franchise-list">
              <li class="hero__franchise-item hero__franchise-item--margin">
                <span class="hero__franchise-number">16</span
                ><span class="hero__franchise-description">cafes</span>
              </li>
              <li class="hero__franchise-item">
                <span class="hero__franchise-number">23</span
                ><span class="hero__franchise-description">food trucks</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="hero__description">
          <p class="hero__description-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="arrow-right arrow-right--for-hero" type="button">
            <svg class="arrow-right__icon arrow-right__icon--for-hero">
              <use href="./images/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div> -->
</section>
