
<section>
    <div class="container products">
        <p class="product__text">100% natural</p>
        <h2 class="product__title">products</h2>
        <ul class="products__container">
            <li class="products__list">
                <div class="products__item">
                    <img class="product__images" 
                         srcset="./images/products-img-1.png 1x , ./images/products-img-1@2x.png 2x "
                         src="./images/products-img-1.png" 
                         alt="мороженое">
                </div>
                <ul class="ice_cream">
                    <li>
                        <h3 class="products__name">ice cream</h3>
                    </li>
                    <li>
                        <p class="products__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et
                        </p>
                    </li>
                </ul>
            </li>
            <li class="products__list">
                <div class="products__item">
                    <img class="product__images"
                        srcset="./images/products-img-2.png 1x , ./images/products-img-2@2x.png 2x "
                         src="./images/products-img-1.png" 
                         alt="мороженое">
                </div>
                <ul class="ice__coffee">
                    <li>
                        <h3 class="products__name">ice coffee</h3>
                    </li>
                    <li>
                        <p class="products__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et
                        </p>
                    </li>
                </ul>
            </li>
            <li class="products__list">
                <div class="products__item">
                    <img class="product__images" 
                         srcset="./images/products-img-3.png 1x , ./images/products-img-3@2x.png 2x "
                         src="./images/products-img-3.png" 
                         alt="мороженое">
                </div>
                <ul class="milkshakes">
                    <li>
                        <h3 class="products__name">milkshakes</h3>
                    </li>
                    <li>
                        <p class="products__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>