
<section>
    <div class="container products">
        <p class="product__text">100% natural</p>
        <h2 class="product__title">products</h2>
        <ul class="products__container">
            <li class="products__list">
                <div class="products__item">
                    <picture class="product__images">
                        <source srcset="./images/products-img-1.png 1x , ./images/products-img-1@2x.png 2x "
                            media="(min-width: 1200px)" type="image/png">
                        <source srcset="./images/products-img-1.png 1x , ./images/products-img-1@2x.png 2x " 
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./images/products-img-1.png 1x , ./images/products-img-1@2x.png 2x " 
                            media="(min-width: 767px)" type="image/png">
                        <img src="./images/products-img-1.png" alt="мороженое">    
                    </picture>    
                </div>
                <div class="ice_cream">
                    <h3 class="products__name">ice cream</h3>

                    <p class="products__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et
                    </p>
                    
                </div>
            </li>
            <li class="products__list">
                <div class="products__item">
                    <picture class="product__images">
                        <source srcset="./images/products-img-2.png 1x , ./images/products-img-2@2x.png 2x "
                            media="(min-width: 1200px)" type="image/png">
                        <source srcset="./images/products-img-2.png 1x , ./images/products-img-2@2x.png 2x "
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./images/products-img-2.png 1x , ./images/products-img-2@2x.png 2x "
                            media="(min-width: 767px)" type="image/png">
                        <img src="./images/products-img-1.png" alt="мороженое">
                    </picture>
                </div>
                <div class="ice__coffee">
                    <h3 class="products__name">ice cream</h3>
            
                    <p class="products__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et
                    </p>
            
                </div>
            </li>
            <li class="products__list">
                <div class="products__item">
                    <picture class="product__images">
                        <source srcset="./images/products-img-3.png 1x , ./images/products-img-3@2x.png 2x "
                            media="(min-width: 1200px)" type="image/png">
                        <source srcset="./images/products-img-3.png 1x , ./images/products-img-3@2x.png 2x "
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./images/products-img-3.png 1x , ./images/products-img-3@2x.png 2x "
                            media="(min-width: 767px)" type="image/png">
                        <img src="./images/products-img-1.png" alt="мороженое">
                    </picture>
                </div>
                <div class="milkshakes">
                    <h3 class="products__name">ice cream</h3>
            
                    <p class="products__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>