.gallery {
    background-image: -webkit-linear-gradient(-90deg, #fff5f6 5%, #FFFFFF 95%);
}

.gallery-collage_photo {
    @media screen and (min-width: 1150px) {
        width: 1280px;
        left: 0px;
    }
    @media screen and (min-width: 768px)and (max-width: 1200px) {
        margin-left: auto;
        margin-right: auto;
        width: 586px;
    }
}