.header__menu-btn {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header__menu {
  display: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  padding-top: 60px;
  color: $color-white;
  background-color: $color-bg-mobile-menu;
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

  transition: transform $duration ease-in-out;
  transform: translateX(100%);

  &.is-open {
    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      width: 250px;
      height: 100vh;
      z-index: 2;
      overflow-y: scroll;

      transform: translateX(0);
    }
  }
}

.nav {
}

.nav__list {
  width: 100%;
  height: 100%;
}

.nav__item {
  border: 1px solid $color-border-menu;
}

.nav__link {
  display: block;
  color: $color-white;
  padding: 13px 21px;
}

.nav__link--active {
  color: $color-primary;
}
