.header__menu {
  display: none;

  @media screen and (max-width: 1279px) {
    .header__menu {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      width: 250px;
      height: 100vh;
      padding-top: 60px;
      z-index: 10;
      background-color: #e17992;
      filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
      transition: transform 250ms ease-in-out;
      transform: translateX(110%);
      overflow: scroll;
    }

    .header__menu.is-open {
      transition: transform 250ms ease-in-out;
      transform: translateX(0);
    }
  }

  @media screen and (min-width: 1280px) {
    .header__menu {
      display: flex;
      margin-left: 110px;
    }
  }
}
