.products{
    padding-top: 121px;
    padding-bottom: 98px;
    @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
    }

    @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
    }
}

.products__container{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
    justify-content: space-between;
    flex-direction: row;
    &:not(:last-child) {
        margin-right: 20px;
     }
    }
    @media screen and (min-width: 1280px) {
    &:not(:last-child) {
        margin-right: 23px;
     }
    }
}

.products__list{
    display: flex;
    justify-content: center;
    margin-top: 130px;
    position: relative;
    @media screen and (min-width: 768px) {
    margin-top: 150px;
    &:not(:last-child) {
        margin-right: 20px;
    }
   }
    @media screen and (min-width: 1280px) {
    margin-top: 259px;
    &:not(:last-child) {
        margin-right: 23px;
    }
   }
}
.ice_cream {
    background-color: $color-bg;
}
.ice__coffee{
    background-color: $color-bg-brown;
}
.milkshakes{
    background-color: $color-bg-green;
}

.ice_cream,.ice__coffee,.milkshakes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 24px;
    padding: 160px 40px 40px 40px;
    @media screen and (max-width: 767px) and (max-width: 767px) {
        width: 280px;
        height: 485px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding: 150px 11px 40px 11px;
    }
    @media screen and (min-width: 1280px) {
        padding: 163px 44px 50px 44px;
    }
}

.product__images {
    position: absolute;
    top: 0;
    transform: translateY(-125px);
    @media screen and (min-width: 768px) {
        transform: translateY(-104px);
        width: 100%;
    }
    @media screen and (min-width: 1280px) {
        transform: translateY(-210px);
        width: 335px;
    }
}

.products__name {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-white;
    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 70px;
    }
}

.products__description {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color:$color-white ;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        line-height: 1.76;
        margin-bottom: 40px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        margin-bottom: 62px;
    }
}

.product__text{
    font-family:$font-family-second;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: $color-bg-circle;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 26px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 34px;
    }
}

.product__title{
    font-family:$font-family-second;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-primary;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 48px;
        line-height: 55px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 66px;
    }
}